node_modules/
.next/
out/
.vercel/
.env
.env.*
!.env.example
*.log
tsconfig.tsbuildinfo
app/generated/prisma/
.vercel
.env*
public/media/founder/Baine & Brandon.jpeg
public/media/mobile-hub/RMH 3.mp4
